In [1]:
import pandas as pd
import numpy as np

# NO_EMPLOY BASE

In [2]:
no_employ = pd.read_csv('unemployment.csv')

In [3]:

no_employ = no_employ.rename(columns={'freguesia':'FREGUESIA','women_man': 'Total_Unemployed',
                                      'man': 'Man_Unemployed', 'women': 'Woman_Unemployed' })
no_employ

no_employ['FREGUESIA'] = [x.rstrip() for x in list(no_employ['FREGUESIA'])] #formating colum freguesia

In [4]:
no_employ

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed
0,Ajuda,15.54,17.71,13.46
1,Alcântara,11.39,12.71,10.18
2,Alvalade,9.52,9.90,9.17
3,Areeiro,9.58,10.81,8.43
4,Arroios,12.23,13.98,10.44
5,Avenidas Novas,9.16,9.75,8.60
6,Beato,16.57,18.42,14.70
7,Belém,8.42,8.95,7.90
8,Benfica,13.36,14.97,11.88
9,Campo de Ourique,10.73,11.61,9.94
10,Campolide,12.56,14.12,10.98
11,Carnide,12.39,14.54,10.33
12,Estrela,10.35,11.24,9.47
13,Lumiar,8.01,8.56,7.49
14,Marvila,16.72,19.39,14.09
15,Misericórdia,12.62,12.91,12.33
16,Olivais,12.84,14.62,11.04
17,Parque das Nações,8.33,8.34,8.31
18,Penha de França,13.09,14.92,11.32
19,Santa Clara,17.64,21.12,14.29
20,Santa Maria Maior,13.83,14.43,13.01
21,Santo António,10.37,10.72,10.03
22,São Domingos de Benfica,8.78,9.19,8.41
23,São Vincente,13.40,14.62,12.23

# CYCLO

In [5]:

cycl = pd.read_csv('Cyclo_frequency.csv')
cycl = cycl.drop(columns = 'Unnamed: 0')
#cycl = cycl[['FREGUESIA','Frequency_Cyclo']]

In [6]:
cycl = cycl.rename(columns={'Frequency_Cyclo':'f_Bike_Lanes'})

In [7]:
cycl

                  FREGUESIA  f_Bike_Lanes
0                     Ajuda             8
1                 Alcântara            11
2                  Alvalade            49
3                   Areeiro            41
4                   Arroios            15
5            Avenidas Novas           124
6                     Beato             1
7                     Belém            18
8                   Benfica            34
9          Campo de Ourique             1
10                Campolide            21
11                  Carnide            51
12                  Estrela             4
13                   Lumiar            33
14                  Marvila            26
15             Misericórdia             4
16                  Olivais            22
17        Parque das Nações           108
18          Penha de França             1
19              Santa Clara             6
20        Santa Maria Maior             8
21            Santo António            34
22  São Domingos de Benfica            20
23              São Vicente             1

# HIGH SCHOOL

In [8]:
##DONE

h_shool = pd.read_csv('high_s.csv')
h_shool = h_shool.drop(columns = 'Unnamed: 0')
h_shool

                 FREGUESIA  Frequency_High_School
0                Alcântara                      2
1                 Alvalade                      2
2                  Areeiro                      1
3                  Arroios                      2
4           Avenidas Novas                      1
5                    Belém                      2
6                  Benfica                      1
7         Campo de Ourique                      2
8                Campolide                      1
9                  Carnide                      1
10                  Lumiar                      1
11                 Marvila                      1
12            Misericórdia                      1
13  Santa Maria de Olivais                      2
14             São Vicente                      1

In [9]:
h_shool = h_shool.rename(columns={'Frequency_High_School':'f_High_School'})
h_shool

                 FREGUESIA  f_High_School
0                Alcântara              2
1                 Alvalade              2
2                  Areeiro              1
3                  Arroios              2
4           Avenidas Novas              1
5                    Belém              2
6                  Benfica              1
7         Campo de Ourique              2
8                Campolide              1
9                  Carnide              1
10                  Lumiar              1
11                 Marvila              1
12            Misericórdia              1
13  Santa Maria de Olivais              2
14             São Vicente              1

In [10]:
#DROP THE UNNAMED COLUMN
#h_shool = h_shool.drop(columns = 'Unnamed: 0')

In [11]:
h_shool

                 FREGUESIA  f_High_School
0                Alcântara              2
1                 Alvalade              2
2                  Areeiro              1
3                  Arroios              2
4           Avenidas Novas              1
5                    Belém              2
6                  Benfica              1
7         Campo de Ourique              2
8                Campolide              1
9                  Carnide              1
10                  Lumiar              1
11                 Marvila              1
12            Misericórdia              1
13  Santa Maria de Olivais              2
14             São Vicente              1

# BACHELLOR

In [12]:
bach = pd.read_csv('MAIN2.csv') #graduate

In [13]:
bach = bach.rename(columns={'Freguesia':'FREGUESIA', 'women_man':'f_Total_graduate', 
                            'man':'f_Man_graduate' ,'women': 'f_Woman_graduate'})

In [14]:
bach['FREGUESIA'] = [x.rstrip() for x in list(bach['FREGUESIA'])] #formating colum freguesia  ##ALALAD HAD A SPACE

In [15]:
#list(bach['FREGUESIA'])

In [16]:
bach

,FREGUESIA,f_Total_graduate,f_Man_graduate,f_Woman_graduate
0,Ajuda,16.45,15.42,17.27
1,Alcântara,26.94,26.86,27.00
2,Alvalade,42.99,45.33,41.30
3,Areeiro,44.11,46.00,42.70
4,Arroios,31.93,31.12,32.61
5,Avenidas Novas,49.30,52.62,46.80
6,Beato,17.51,16.88,18.05
7,Belém,47.28,49.82,45.32
8,Benfica,30.02,29.28,30.59
9,Campo de Ourique,34.15,35.06,33.50
10,Campolide,25.82,24.81,26.74
11,Carnide,36.48,35.70,37.14
12,Estrela,39.96,42.61,37.89
13,Lumiar,54.22,53.52,54.79
14,Marvila,9.67,8.42,10.76
15,Misericórdia,29.84,30.53,29.25
16,Olivais,22.37,21.37,23.19
17,Parque das Nações,52.82,52.20,53.39
18,Penha de França,23.08,22.33,23.66
19,Santa Clara,20.66,19.18,21.92
20,Santa Maria Maior,20.95,20.63,21.27
21,Santo António,41.31,42.20,40.62
22,São Domingos de Benfica,47.93,49.29,46.87
23,São Vincente,21.95,21.02,22.69

# PARK

In [17]:
park = pd.read_csv('parques_frequency.csv')

In [18]:
park = park.drop(columns = 'Unnamed: 0')

In [19]:
park = park.rename(columns={'Frequency':'f_Parks'})

In [20]:
park

                  FREGUESIA  f_Parks
0                     Ajuda        8
1                 Alcântara        4
2                  Alvalade        9
3                   Amadora        1
4                   Areeiro        9
5                   Arroios        8
6            Avenidas Novas        8
7                     Beato        1
8                     Belém       19
9                   Benfica        7
10         Campo de Ourique        4
11                Campolide        7
12                  Carnide        4
13                  Estrela        9
14                   Lumiar       13
15                  Marvila        8
16             Misericórdia        6
17        Parque das Nações        8
18              Santa Clara        4
19        Santa Maria Maior        3
20   Santa Maria de Olivais        9
21            Santo António        7
22  São Domingos de Benfica        8
23              São Vicente        5

# Police

In [21]:
##DONE

police = pd.read_csv('Policy_frequency.csv')
police = police.drop(columns = 'Unnamed: 0')  #Drop two NaN rows 
#police = police.rename(columns ={'Unnamed: 0': 'FREGUESIA','NOME':'f_Police_Office'})

In [22]:
police

                 FREGUESIA  f_Police_Office
0                Alcântara                6
1                 Alvalade                2
2                  Areeiro                2
3                  Arroios                4
4           Avenidas Novas                2
5                    Belém                5
6                  Benfica                6
7         Campo de Ourique                3
8                Campolide                3
9                  Carnide                5
10                 Estrela                8
11                  Lumiar                9
12                 Marvila                3
13            Misericórdia                2
14       Parque das Nações                3
15         Penha de França                4
16       Santa Maria Maior                8
17  Santa Maria de Olivais               12
18           Santo António                2
19             São Vicente                1

# Health

In [23]:
##DONE

health = pd.read_csv('saude_frequency.csv')
health = health.drop(columns = 'Unnamed: 0')
#health = health.rename(columns ={'Frequency_Saude': 'f_Health_Care_Facilities'})

In [24]:
#health['FREGUESIA'][2] == no_employ['FREGUESIA'][2]

In [25]:
#list(health['FREGUESIA'])

# MUSEUMS

In [26]:
##DONE

mus = pd.read_csv('Museus_frequency.csv')
mus = mus.drop(columns = 'Unnamed: 0')
#mus = mus[['FREGUESIA','f_Museums']]

#mus['f_Museums'].sum() should be the number of rows of our original = check

In [27]:
mus

                  FREGUESIA  f_Museums
0                 Alcântara          2
1                  Alvalade          3
2            Avenidas Novas          3
3                     Belém          9
4          Campo de Ourique          2
5                   Estrela          3
6                    Lumiar          2
7                   Marvila          1
8              Misericórdia          8
9         Parque das Nações          1
10          Penha de França          1
11        Santa Maria Maior         16
12            Santo António          4
13  São Domingos de Benfica          3
14              São Vicente          2

# UNIVERSITIES

In [28]:
###DONT HAVE IT!!!!

col = pd.read_csv('College_frquency.csv')
col = col.drop(columns = 'Unnamed: 0')
col

                  FREGUESIA  f_College
0                     Ajuda          3
1                 Alcântara          6
2                  Alvalade         15
3                   Areeiro          1
4                   Arroios          2
5            Avenidas Novas          2
6                   Benfica          3
7          Campo de Ourique          1
8                 Campolide          4
9                   Carnide          1
10                  Estrela          3
11                   Lumiar          1
12                  Marvila          4
13             Misericórdia          3
14        Parque das Nações          1
15              Santa Clara          2
16        Santa Maria Maior          2
17            Santo António          3
18  São Domingos de Benfica          7
19              São Vicente          1

# MERGING MERGING MERGING !

In [29]:
#TEST
#t = no_employ.merge(health, on= 'FREGUESIA', how = 'left')
#t

In [30]:
###FIRST MERGE

one = no_employ.merge(bach, on='FREGUESIA', how ='left')
one

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69

In [31]:
##SECOND MERGE


two =one.merge(health, on='FREGUESIA', how ='left')
two

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate,Frequency_Saude
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27,2.0
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00,4.0
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30,4.0
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70,NaN
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61,5.0
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80,5.0
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05,NaN
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32,1.0
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59,4.0
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50,2.0
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74,1.0
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14,1.0
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89,6.0
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79,5.0
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76,2.0
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25,5.0
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19,NaN
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39,1.0
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66,2.0
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92,NaN
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27,3.0
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62,6.0
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87,5.0
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69,NaN

In [32]:
#THERD MERGE

three =two.merge(police, on='FREGUESIA', how ='left')
three

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate,Frequency_Saude,f_Police_Office
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27,2.0,NaN
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00,4.0,6.0
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30,4.0,2.0
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70,NaN,2.0
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61,5.0,4.0
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80,5.0,2.0
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05,NaN,NaN
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32,1.0,5.0
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59,4.0,6.0
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50,2.0,3.0
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74,1.0,3.0
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14,1.0,5.0
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89,6.0,8.0
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79,5.0,9.0
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76,2.0,3.0
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25,5.0,2.0
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19,NaN,NaN
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39,1.0,3.0
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66,2.0,4.0
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92,NaN,NaN
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27,3.0,8.0
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62,6.0,2.0
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87,5.0,NaN
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69,NaN,NaN

In [33]:
four =three.merge(cycl, on='FREGUESIA', how ='left')

four

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate,Frequency_Saude,f_Police_Office,f_Bike_Lanes
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27,2.0,NaN,8.0
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00,4.0,6.0,11.0
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30,4.0,2.0,49.0
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70,NaN,2.0,41.0
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61,5.0,4.0,15.0
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80,5.0,2.0,124.0
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05,NaN,NaN,1.0
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32,1.0,5.0,18.0
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59,4.0,6.0,34.0
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50,2.0,3.0,1.0
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74,1.0,3.0,21.0
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14,1.0,5.0,51.0
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89,6.0,8.0,4.0
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79,5.0,9.0,33.0
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76,2.0,3.0,26.0
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25,5.0,2.0,4.0
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19,NaN,NaN,22.0
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39,1.0,3.0,108.0
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66,2.0,4.0,1.0
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92,NaN,NaN,6.0
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27,3.0,8.0,8.0
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62,6.0,2.0,34.0
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87,5.0,NaN,20.0
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69,NaN,NaN,NaN

In [34]:
five =four.merge(mus, on='FREGUESIA', how ='left')
five

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate,Frequency_Saude,f_Police_Office,f_Bike_Lanes,f_Museums
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27,2.0,NaN,8.0,NaN
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00,4.0,6.0,11.0,2.0
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30,4.0,2.0,49.0,3.0
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70,NaN,2.0,41.0,NaN
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61,5.0,4.0,15.0,NaN
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80,5.0,2.0,124.0,3.0
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05,NaN,NaN,1.0,NaN
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32,1.0,5.0,18.0,9.0
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59,4.0,6.0,34.0,NaN
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50,2.0,3.0,1.0,2.0
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74,1.0,3.0,21.0,NaN
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14,1.0,5.0,51.0,NaN
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89,6.0,8.0,4.0,3.0
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79,5.0,9.0,33.0,2.0
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76,2.0,3.0,26.0,1.0
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25,5.0,2.0,4.0,8.0
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19,NaN,NaN,22.0,NaN
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39,1.0,3.0,108.0,1.0
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66,2.0,4.0,1.0,1.0
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92,NaN,NaN,6.0,NaN
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27,3.0,8.0,8.0,16.0
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62,6.0,2.0,34.0,4.0
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87,5.0,NaN,20.0,3.0
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69,NaN,NaN,NaN,NaN

In [35]:
six =five.merge(h_shool, on='FREGUESIA', how ='left')
six

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate,Frequency_Saude,f_Police_Office,f_Bike_Lanes,f_Museums,f_High_School
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27,2.0,NaN,8.0,NaN,NaN
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00,4.0,6.0,11.0,2.0,2.0
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30,4.0,2.0,49.0,3.0,2.0
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70,NaN,2.0,41.0,NaN,1.0
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61,5.0,4.0,15.0,NaN,2.0
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80,5.0,2.0,124.0,3.0,1.0
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05,NaN,NaN,1.0,NaN,NaN
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32,1.0,5.0,18.0,9.0,2.0
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59,4.0,6.0,34.0,NaN,1.0
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50,2.0,3.0,1.0,2.0,2.0
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74,1.0,3.0,21.0,NaN,1.0
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14,1.0,5.0,51.0,NaN,1.0
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89,6.0,8.0,4.0,3.0,NaN
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79,5.0,9.0,33.0,2.0,1.0
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76,2.0,3.0,26.0,1.0,1.0
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25,5.0,2.0,4.0,8.0,1.0
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19,NaN,NaN,22.0,NaN,NaN
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39,1.0,3.0,108.0,1.0,NaN
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66,2.0,4.0,1.0,1.0,NaN
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92,NaN,NaN,6.0,NaN,NaN
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27,3.0,8.0,8.0,16.0,NaN
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62,6.0,2.0,34.0,4.0,NaN
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87,5.0,NaN,20.0,3.0,NaN
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69,NaN,NaN,NaN,NaN,NaN

In [36]:
seven =six.merge(park, on='FREGUESIA', how ='left')
seven

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate,Frequency_Saude,f_Police_Office,f_Bike_Lanes,f_Museums,f_High_School,f_Parks
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27,2.0,NaN,8.0,NaN,NaN,8.0
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00,4.0,6.0,11.0,2.0,2.0,4.0
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30,4.0,2.0,49.0,3.0,2.0,9.0
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70,NaN,2.0,41.0,NaN,1.0,9.0
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61,5.0,4.0,15.0,NaN,2.0,8.0
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80,5.0,2.0,124.0,3.0,1.0,8.0
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05,NaN,NaN,1.0,NaN,NaN,1.0
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32,1.0,5.0,18.0,9.0,2.0,19.0
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59,4.0,6.0,34.0,NaN,1.0,7.0
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50,2.0,3.0,1.0,2.0,2.0,4.0
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74,1.0,3.0,21.0,NaN,1.0,7.0
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14,1.0,5.0,51.0,NaN,1.0,4.0
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89,6.0,8.0,4.0,3.0,NaN,9.0
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79,5.0,9.0,33.0,2.0,1.0,13.0
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76,2.0,3.0,26.0,1.0,1.0,8.0
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25,5.0,2.0,4.0,8.0,1.0,6.0
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19,NaN,NaN,22.0,NaN,NaN,NaN
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39,1.0,3.0,108.0,1.0,NaN,8.0
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66,2.0,4.0,1.0,1.0,NaN,NaN
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92,NaN,NaN,6.0,NaN,NaN,4.0
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27,3.0,8.0,8.0,16.0,NaN,3.0
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62,6.0,2.0,34.0,4.0,NaN,7.0
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87,5.0,NaN,20.0,3.0,NaN,8.0
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#OUR DATA

our_data_start = seven.merge(col, on='FREGUESIA', how = 'left')
our_data_start

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate,Frequency_Saude,f_Police_Office,f_Bike_Lanes,f_Museums,f_High_School,f_Parks,f_College
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27,2.0,NaN,8.0,NaN,NaN,8.0,3.0
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00,4.0,6.0,11.0,2.0,2.0,4.0,6.0
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30,4.0,2.0,49.0,3.0,2.0,9.0,15.0
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70,NaN,2.0,41.0,NaN,1.0,9.0,1.0
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61,5.0,4.0,15.0,NaN,2.0,8.0,2.0
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80,5.0,2.0,124.0,3.0,1.0,8.0,2.0
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05,NaN,NaN,1.0,NaN,NaN,1.0,NaN
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32,1.0,5.0,18.0,9.0,2.0,19.0,NaN
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59,4.0,6.0,34.0,NaN,1.0,7.0,3.0
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50,2.0,3.0,1.0,2.0,2.0,4.0,1.0
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74,1.0,3.0,21.0,NaN,1.0,7.0,4.0
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14,1.0,5.0,51.0,NaN,1.0,4.0,1.0
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89,6.0,8.0,4.0,3.0,NaN,9.0,3.0
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79,5.0,9.0,33.0,2.0,1.0,13.0,1.0
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76,2.0,3.0,26.0,1.0,1.0,8.0,4.0
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25,5.0,2.0,4.0,8.0,1.0,6.0,3.0
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19,NaN,NaN,22.0,NaN,NaN,NaN,NaN
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39,1.0,3.0,108.0,1.0,NaN,8.0,1.0
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66,2.0,4.0,1.0,1.0,NaN,NaN,NaN
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92,NaN,NaN,6.0,NaN,NaN,4.0,2.0
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27,3.0,8.0,8.0,16.0,NaN,3.0,2.0
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62,6.0,2.0,34.0,4.0,NaN,7.0,3.0
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87,5.0,NaN,20.0,3.0,NaN,8.0,7.0
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
##FILL NAN

our_data_start = our_data_start.fillna(0)
our_data_start

,FREGUESIA,Total_Unemployed,Man_Unemployed,Woman_Unemployed,f_Total_graduate,f_Man_graduate,f_Woman_graduate,Frequency_Saude,f_Police_Office,f_Bike_Lanes,f_Museums,f_High_School,f_Parks,f_College
0,Ajuda,15.54,17.71,13.46,16.45,15.42,17.27,2.0,0.0,8.0,0.0,0.0,8.0,3.0
1,Alcântara,11.39,12.71,10.18,26.94,26.86,27.00,4.0,6.0,11.0,2.0,2.0,4.0,6.0
2,Alvalade,9.52,9.90,9.17,42.99,45.33,41.30,4.0,2.0,49.0,3.0,2.0,9.0,15.0
3,Areeiro,9.58,10.81,8.43,44.11,46.00,42.70,0.0,2.0,41.0,0.0,1.0,9.0,1.0
4,Arroios,12.23,13.98,10.44,31.93,31.12,32.61,5.0,4.0,15.0,0.0,2.0,8.0,2.0
5,Avenidas Novas,9.16,9.75,8.60,49.30,52.62,46.80,5.0,2.0,124.0,3.0,1.0,8.0,2.0
6,Beato,16.57,18.42,14.70,17.51,16.88,18.05,0.0,0.0,1.0,0.0,0.0,1.0,0.0
7,Belém,8.42,8.95,7.90,47.28,49.82,45.32,1.0,5.0,18.0,9.0,2.0,19.0,0.0
8,Benfica,13.36,14.97,11.88,30.02,29.28,30.59,4.0,6.0,34.0,0.0,1.0,7.0,3.0
9,Campo de Ourique,10.73,11.61,9.94,34.15,35.06,33.50,2.0,3.0,1.0,2.0,2.0,4.0,1.0
10,Campolide,12.56,14.12,10.98,25.82,24.81,26.74,1.0,3.0,21.0,0.0,1.0,7.0,4.0
11,Carnide,12.39,14.54,10.33,36.48,35.70,37.14,1.0,5.0,51.0,0.0,1.0,4.0,1.0
12,Estrela,10.35,11.24,9.47,39.96,42.61,37.89,6.0,8.0,4.0,3.0,0.0,9.0,3.0
13,Lumiar,8.01,8.56,7.49,54.22,53.52,54.79,5.0,9.0,33.0,2.0,1.0,13.0,1.0
14,Marvila,16.72,19.39,14.09,9.67,8.42,10.76,2.0,3.0,26.0,1.0,1.0,8.0,4.0
15,Misericórdia,12.62,12.91,12.33,29.84,30.53,29.25,5.0,2.0,4.0,8.0,1.0,6.0,3.0
16,Olivais,12.84,14.62,11.04,22.37,21.37,23.19,0.0,0.0,22.0,0.0,0.0,0.0,0.0
17,Parque das Nações,8.33,8.34,8.31,52.82,52.20,53.39,1.0,3.0,108.0,1.0,0.0,8.0,1.0
18,Penha de França,13.09,14.92,11.32,23.08,22.33,23.66,2.0,4.0,1.0,1.0,0.0,0.0,0.0
19,Santa Clara,17.64,21.12,14.29,20.66,19.18,21.92,0.0,0.0,6.0,0.0,0.0,4.0,2.0
20,Santa Maria Maior,13.83,14.43,13.01,20.95,20.63,21.27,3.0,8.0,8.0,16.0,0.0,3.0,2.0
21,Santo António,10.37,10.72,10.03,41.31,42.20,40.62,6.0,2.0,34.0,4.0,0.0,7.0,3.0
22,São Domingos de Benfica,8.78,9.19,8.41,47.93,49.29,46.87,5.0,0.0,20.0,3.0,0.0,8.0,7.0
23,São Vincente,13.40,14.62,12.23,21.95,21.02,22.69,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:

#our_data_start.to_csv('DATA_START.csv')

In [40]:
total1.sum() #THE QUANTITY OF ENTERIES IS REALLY LOW SO I HAD TO DROP BECAUSE THEY WOULDNT COMPLETE THE QUANTIS FOR...

NameError: name 'total1' is not defined

In [88]:
#cutoffs quantis

labels = ['Low', 'High']

#n = pd.qcut(our_data_start['Total_Unemployed'],5, labels=labels)
n

0     Very High
1      Moderate
2           Low
3           Low
4      Moderate
5      Very Low
6     Very High
7      Very Low
8          High
9           Low
10     Moderate
11     Moderate
12          Low
13     Very Low
14    Very High
15         High
16         High
17     Very Low
18         High
19    Very High
20    Very High
21          Low
22     Very Low
23         High
Name: Total_Unemployed, dtype: category
Categories (5, object): [Very Low < Low < Moderate < High < Very High]

In [89]:
test2 = our_data_start.drop(columns=['FREGUESIA'])

In [90]:

y = lambda x :pd.qcut(x,2, labels=labels)


test2_with_binn = test2.apply(y)

In [100]:
 test2_with_binn
print(list(test2_with_binn['f_Museums']))

['Low', 'High', 'High', 'Low', 'Low', 'High', 'Low', 'High', 'Low', 'High', 'Low', 'Low', 'High', 'High', 'Low', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'High', 'High', 'Low']

In [93]:
test2_with_binn.to_csv('hig_low.csv')

In [ ]:
#DataFrame.sum(axis=None, skipna=None, level=None, numeric_only=None, min_count=0, **kwargs)