In [1]:
import numpy as np
import pandas as pd

In [2]:
mainframe_original = pd.read_csv('mainframe_final.csv')
mainframe_original.drop(index=0,axis=0,inplace=True)
mainframe_original

,neighbourhood,all_bachelors_percent,all_bachelors_men,all_bachelors_women,all_unemployed_percent,all_unemployed_men_percent,all_unemployed_women_percent,num_of_police,num_universities,num_parks,num_health_centers,num_museums,health_centers,num_bic_track
1,Ajuda,16.45,15.42,17.27,15.54,17.71,13.46,0,3,8,8,0,2,8
2,Alcântara,26.94,26.86,27.00,11.39,12.71,10.18,6,6,4,4,2,4,11
3,Alvalade,42.99,45.33,41.30,9.52,9.90,9.17,2,15,9,9,3,4,49
4,Areeiro,44.11,46.00,42.70,9.58,10.81,8.43,2,1,9,9,0,0,41
5,Arroios,31.93,31.12,32.61,12.23,13.98,10.44,4,2,8,8,0,5,15
6,Avenidas Novas,49.30,52.62,46.80,9.16,9.75,8.60,2,2,8,8,3,5,124
7,Beato,17.51,16.88,18.05,16.57,18.42,14.70,0,0,1,1,0,0,1
8,Belém,47.28,49.82,45.32,8.42,8.95,7.90,5,0,19,19,10,1,18
9,Benfica,30.02,29.28,30.59,13.36,14.97,11.88,6,3,7,7,0,4,34
10,Campo de Ourique,34.15,35.06,33.50,10.73,11.61,9.94,3,1,4,4,2,2,1
11,Campolide,25.82,24.81,26.74,12.56,14.12,10.98,3,4,7,7,0,1,21
12,Carnide,36.48,35.70,37.14,12.39,14.54,10.33,5,1,4,4,0,1,51
13,Estrela,39.96,42.61,37.89,10.35,11.24,9.47,8,3,9,9,3,6,4
14,Lumiar,54.22,53.52,54.79,8.01,8.56,7.49,9,1,13,13,2,5,33
15,Marvila,9.67,8.42,10.76,16.72,19.39,14.09,3,4,8,8,1,2,26
16,Misericórdia,29.84,30.53,29.25,12.62,12.91,12.33,2,3,6,6,8,5,4
17,Olivais,22.37,21.37,23.19,12.84,14.62,11.04,0,0,9,9,0,0,22
18,Parque das Nações,52.82,52.20,53.39,8.33,8.34,8.31,3,1,8,8,1,1,108
19,Penha de França,23.08,22.33,23.66,13.09,14.92,11.32,4,0,0,0,1,2,1
20,Santa Clara,20.66,19.18,21.92,17.64,21.12,14.29,12,2,4,4,0,3,6
21,Santa Maria Maior,20.95,20.63,21.27,13.83,14.43,13.01,8,2,3,3,18,3,8
22,Santo António,41.31,42.20,40.62,10.37,10.72,10.03,2,3,7,7,5,6,34
23,São Domingos de Benfica,47.93,49.29,46.87,8.78,9.19,8.41,0,7,8,8,3,5,20
24,São Vincente,21.95,21.02,22.69,13.40,14.62,12.23,1,1,5,5,3,2,1

In [14]:
mainframe_original.drop(columns = 'num_health_centers', index= 1)
mainframe_original.head()

,neighbourhood,all_bachelors_percent,all_bachelors_men,all_bachelors_women,all_unemployed_percent,all_unemployed_men_percent,all_unemployed_women_percent,num_of_police,num_universities,num_parks,num_health_centers,num_museums,health_centers,num_bic_track,basic_indicator
1,Ajuda,16.45,15.42,17.27,15.54,17.71,13.46,0,3,8,8,0,2,8,21
2,Alcântara,26.94,26.86,27.00,11.39,12.71,10.18,6,6,4,4,2,4,11,33
3,Alvalade,42.99,45.33,41.30,9.52,9.90,9.17,2,15,9,9,3,4,49,82
4,Areeiro,44.11,46.00,42.70,9.58,10.81,8.43,2,1,9,9,0,0,41,53
5,Arroios,31.93,31.12,32.61,12.23,13.98,10.44,4,2,8,8,0,5,15,34

In [17]:
mainframe_original['basic_indicator'] = mainframe_original[['num_of_police','num_universities','num_parks','num_museums','health_centers','num_bic_track']].sum(axis = 1)
mainframe_original['filtered_indicator'] = mainframe_original[['num_parks','num_bic_track']].sum(axis = 1)
mainframe_original.head()

,neighbourhood,all_bachelors_percent,all_bachelors_men,all_bachelors_women,all_unemployed_percent,all_unemployed_men_percent,all_unemployed_women_percent,num_of_police,num_universities,num_parks,num_health_centers,num_museums,health_centers,num_bic_track,basic_indicator,filtered_indicator
1,Ajuda,16.45,15.42,17.27,15.54,17.71,13.46,0,3,8,8,0,2,8,21,16
2,Alcântara,26.94,26.86,27.00,11.39,12.71,10.18,6,6,4,4,2,4,11,33,15
3,Alvalade,42.99,45.33,41.30,9.52,9.90,9.17,2,15,9,9,3,4,49,82,58
4,Areeiro,44.11,46.00,42.70,9.58,10.81,8.43,2,1,9,9,0,0,41,53,50
5,Arroios,31.93,31.12,32.61,12.23,13.98,10.44,4,2,8,8,0,5,15,34,23

In [18]:
mainframe_original.describe()

,all_bachelors_percent,all_bachelors_men,all_bachelors_women,all_unemployed_percent,all_unemployed_men_percent,all_unemployed_women_percent,num_of_police,num_universities,num_parks,num_health_centers,num_museums,health_centers,num_bic_track,basic_indicator,filtered_indicator
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,32.822500,33.008333,32.721667,11.976250,13.230417,10.751250,3.750000,2.708333,7.000000,7.000000,2.708333,2.875000,26.708333,45.750000,33.708333
std,12.660179,13.626152,11.971947,2.777681,3.514794,2.129073,3.138125,3.182550,3.867366,3.867366,4.154402,1.962972,31.536699,33.104906,32.702186
min,9.670000,8.420000,10.760000,8.010000,8.340000,7.490000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,1.000000
25%,22.265000,21.282500,23.065000,9.565000,10.515000,9.027500,2.000000,1.000000,4.000000,4.000000,0.000000,1.000000,5.500000,27.750000,10.750000
50%,30.975000,30.825000,31.600000,12.310000,13.445000,10.385000,3.000000,2.000000,7.500000,7.500000,1.500000,2.500000,19.000000,39.000000,28.000000
75%,43.270000,45.497500,41.650000,13.370000,14.695000,12.255000,5.250000,3.000000,8.250000,8.250000,3.000000,5.000000,34.000000,54.750000,42.250000
max,54.220000,53.520000,54.790000,17.640000,21.120000,14.700000,12.000000,15.000000,19.000000,19.000000,18.000000,6.000000,124.000000,144.000000,132.000000

In [19]:
correlations = mainframe_original.corr(method = 'pearson')
correlations

,all_bachelors_percent,all_bachelors_men,all_bachelors_women,all_unemployed_percent,all_unemployed_men_percent,all_unemployed_women_percent,num_of_police,num_universities,num_parks,num_health_centers,num_museums,health_centers,num_bic_track,basic_indicator,filtered_indicator
all_bachelors_percent,1.000000,0.996641,0.997336,-0.930654,-0.910183,-0.924665,0.059298,0.121557,0.551267,0.551267,0.069677,0.326455,0.592212,0.673967,0.636299
all_bachelors_men,0.996641,1.000000,0.988022,-0.934736,-0.916976,-0.924288,0.041790,0.144612,0.557383,0.557383,0.096527,0.339768,0.584269,0.671830,0.629362
all_bachelors_women,0.997336,0.988022,1.000000,-0.921474,-0.898574,-0.919733,0.074760,0.101505,0.542897,0.542897,0.044838,0.311454,0.597617,0.673669,0.640521
all_unemployed_percent,-0.930654,-0.934736,-0.921474,1.000000,0.990041,0.976770,0.070317,-0.166515,-0.557730,-0.557730,-0.152504,-0.286196,-0.484256,-0.571922,-0.532954
all_unemployed_men_percent,-0.910183,-0.916976,-0.898574,0.990041,1.000000,0.937123,0.108056,-0.183292,-0.526198,-0.526198,-0.242218,-0.313628,-0.466169,-0.561928,-0.511783
all_unemployed_women_percent,-0.924665,-0.924288,-0.919733,0.976770,0.937123,1.000000,0.006361,-0.129175,-0.587285,-0.587285,-0.021045,-0.229560,-0.493490,-0.566788,-0.545355
num_of_police,0.059298,0.041790,0.074760,0.070317,0.108056,0.006361,1.000000,-0.107746,0.028660,0.028660,0.204268,0.284089,-0.125976,0.010254,-0.118097
num_universities,0.121557,0.144612,0.101505,-0.166515,-0.183292,-0.129175,-0.107746,1.000000,0.070650,0.070650,0.013017,0.390606,0.080556,0.195710,0.086040
num_parks,0.551267,0.557383,0.542897,-0.557730,-0.526198,-0.587285,0.028660,0.070650,1.000000,1.000000,0.127188,0.097362,0.245618,0.382047,0.355124
num_health_centers,0.551267,0.557383,0.542897,-0.557730,-0.526198,-0.587285,0.028660,0.070650,1.000000,1.000000,0.127188,0.097362,0.245618,0.382047,0.355124
num_museums,0.069677,0.096527,0.044838,-0.152504,-0.242218,-0.021045,0.204268,0.013017,0.127188,0.127188,1.000000,0.213926,-0.129769,0.050028,-0.110103
health_centers,0.326455,0.339768,0.311454,-0.286196,-0.313628,-0.229560,0.284089,0.390606,0.097362,0.097362,0.213926,1.000000,0.038716,0.198878,0.048850
num_bic_track,0.592212,0.584269,0.597617,-0.484256,-0.466169,-0.493490,-0.125976,0.080556,0.245618,0.245618,-0.129769,0.038716,1.000000,0.963136,0.993407
basic_indicator,0.673967,0.671830,0.673669,-0.571922,-0.561928,-0.566788,0.010254,0.195710,0.382047,0.382047,0.050028,0.198878,0.963136,1.000000,0.973991
filtered_indicator,0.636299,0.629362,0.640521,-0.532954,-0.511783,-0.545355,-0.118097,0.086040,0.355124,0.355124,-0.110103,0.048850,0.993407,0.973991,1.000000

In [20]:
type(correlations)

pandas.core.frame.DataFrame